.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #94d0cc;
}

.card {
  width: 25rem;
  height: 30rem;
  border-radius: 1rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f29191;
}

input,
button {
  padding: 0.5rem;
  color: #ff7b54;
  border: 2px solid #97eb98;
  border-radius: 8px;
  background-color: #9fe6a0;
  font-size: 1.3rem;
}
.text {
  color: rgb(240, 240, 240);
  font-size: 1.3rem;
}
.title {
  margin-bottom: 6rem;
  font-size: 1.4rem;
  color: white;
}
@media only screen and (max-width: 500px) {
  .card {
    width: 90%;
    padding: 1rem;
  }
}
